[submodule "videocoin-nft"]
	path = videocoin-nft
	url = https://github.com/videocoin/videocoin-nft
[submodule "wyvern-ethereum"]
	path = wyvern-ethereum
	url = https://github.com/videocoin/wyvern-ethereum
[submodule "nft-app-ext"]
	path = nft-app-ext
	url = https://github.com/videocoin/nft-app-ext
